<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Our list of movies</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <form action="/movies" method="post" onsubmit="sendForm(event, this)">
        <label for="title">Title</label>
        <input type="text" id="title" name="title"/>
        <label for="year">Year</label>
        <input type="text" id="year" name="year"/>
        <input type="submit" id="submit-button" value="Send Movie">
    </form>
    <h1>Our list of movies</h1>
    <section id="movies-section"></section>
</body>
<script th:src="@{/js/main.js}"></script>
</html>